.signIn {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }
  .button {
    display: flex;
    justify-content: space-between;
  }
}
h4 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}
span {
  font-size: 22px;
  font-weight: lighter;
}
