.cartIcon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shoppingIcon {
    width: 30px;
    height: 30px;
  }

  .itemCount {
    position: absolute;
    font-size: 14px;
    font-weight: bolder;
    bottom: 12px;
    font-family: "Padauk", sans-serif;
    color: black;
  }
}
