.collectionPreview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  @media screen and (max-width: 800px) {
    align-items: center;
  }
  .title {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 25px;
    text-align: center;
  }

  .preview {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
    }
  }
  .collBtn {
    @media screen and (max-width: 800px) {
      padding: 15px;
    }
    @media screen and (min-width: 800px) {
      padding: 25px;
      display: flex;
      justify-content: center;
    }
  }
}
