body {
  font-family: "Squada One", cursive;
  padding: 20px 50px;
  background-color: #f6f6f6;
  background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
}
a {
  text-decoration: none;
  color: black;
}
